/* Animations, what did you expect???*/

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes down {
    0% {
        top:1000%;
    }
    100% {
        top:0;
    }
}

@keyframes down2 {
    0% {
        opaticty: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes Scroll {
    0% {
        transform: translate(0px, 0px);
    }
    100% {
        transform: translate(500px, 1200px);
    }
}

@keyframes blurin {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}