/* Fonts used in the webpage*/

@font-face {
    font-family: ginto;
    src: url(/Assets/Fonts/Ginto\ Regular.ttf);
}

@font-face {
    font-family: gintobold;
    src: url(/Assets/Fonts/Ginto\ Bold.ttf);
}