@media screen and (max-width: 1600px) {
    .intro {
        background-color: rgba(0, 0, 0, 0);
        backdrop-filter: blur(0px);
        border-radius: 0px;
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        z-index: 1000;
        transition: 0.5s;
    }
}

@media screen and (max-width: 1440px) {
    .blockers {
        margin-right: 1600px;
        transition: 0.5s;
        z-index: 0;
    }
}

@media screen and (max-width: 1300px) {
    .blockers {
        opacity: 70%;
        transition: 0.5s;
        z-index: 0;
    }

    .scroller-one{
        display:none;
    }

    .scroller-two{
        width:80%;
        left:0%;
    }

    .Recommended{
        padding-left:0px;
        padding-right:0px;
    }
}

@media screen and (max-width: 850px) {
    
    .blockers {
        display:none;
        transition:0.5s;
    }
    .scroller-two{
        opacity:0.2;
        left:0;
        position: absolute;
        width:100%;
    }
    .scrollers{
        left:0;
        position:fixed;
        width:90%;
        margin-left:5%;
        margin-right:5%;
    }
    header{
        z-index:100000000000000000000000000000000000;
    }
    dark-mode-toggle{
        z-index:100000000000000000000000000000000000;
    }
    .intro{
        margin-right:40px;
    }
    .intro{
        top:35%;
    }
    .grid{
        width:100%;
        left:0%;
        position:relative;
        display:block;
        padding-bottom:25%;
        margin-right:0;
        margin-left:0;
        margin-bottom:0px;
    }
    .moreimg{
       display:none;
    }

    .squarecontain{
        width:100%;
        margin-left:0;
        left:0;
        padding:0;
        margin-bottom:150px;
    }
    .Recommended{
        padding-left:0px;
        padding-right:0px;
        right:20px;
    }

    .OneBach{
        font-size:45px;
        top:-115px;
    }

    .TwoBach{
        font-size:45px;
        top:50px;
    }
    .es{
        height:130px;
        width:90%;
        margin-bottom:20px;
        margin-left:5%;
        margin-right:5%;

    }
    .recname2{
        top:0%;
        position:absolute;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 70%; 
        overflow:hidden;
    }
    .recinfo2{
        top:45%;
        position:absolute;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 70%; 
        overflow:hidden;
    }
    .dwnld2{
        right:20px;
        top:84%;
        position:absolute;
    }

    .es:hover{
        box-shadow: 0px 0px 50px 1px white;
    transform: scale(105%) translate(0,0px);
    z-index: 1;
    transition:0.5s;
    }

.es:hover .recimg2{
    transform: scale(130%) rotate(5deg);
    transition:1s;
}

.es:hover .recname2{
    display:none;
}

.es:hover .recinfo2{
    display:none;
}

.es:hover .dwnld2{
    right:20px;
    top:84%;
    position:absolute;
    transition:0.5s;
    transform: rotate(0deg);
}

    .es1{
    background-color:rgba(255, 255, 255, 0);
    width:98%;
    position: absolute;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0);
  }

  #multiple{
    display:none;
  }

  .searchbox{
    height:50px;
    left:0;
    overflow: scroll;
    top:300px;
    width:50px
  }

  .boxhold{
    bottom:0px;
    position:absolute;
  }

  input{
    width:50px;
    top:0;
    position:absolute;
    height:50px;
    padding:0px;
    margin:0px;
    overflow:hidden;
    
  }

  .box{
    top:0;
    left:0px;
    text-align: left;
    width:300px;


  }

}

@media screen and (max-height: 500px) {
     .intro{
        top:50px;
     }

     #headname{
        bottom:-50px;
        width:300px;
        text-align: left;
        position:absolute;
     }

     #headinfo{
        display:none;
     }
}

/* Why do it like this?*/


/* Because fuck you, that's why.*/

@media screen and (max-width: 1700px) {
    .recsec {
        zoom: 0.95;
        transform: translate(0, -100px);
        transition: 0.5s;
    }
}

@media screen and (max-width: 1600px) {
    .recsec {
        zoom: 0.9;
        transform: translate(0, -150px);
        transition: 0.5s;
    }
}

@media screen and (max-width: 1550px) {
    .recsec {
        zoom: 0.85;
        transform: translate(0, -200px);
        transition: 0.5s;
    }
}

@media screen and (max-width: 1500px) {
    .recsec {
        zoom: 0.8;
        transform: translate(0, -250px);
        transition: 0.5s;
    }
}

@media screen and (max-width: 1450px) {
    .recsec {
        zoom: 0.75;
        transform: translate(0, -350px);
        transition: 0.5s;
    }
}

@media screen and (max-width: 1400px) {
    .recsec {
        zoom: 0.7;
        transform: translate(0, -400px);
        transition: 0.5s;
    }
}

@media screen and (max-width: 1350px) {
    .recsec {
        zoom: 0.65;
        transform: translate(0, -450px);
        transition: 0.5s;
    }
}

@media screen and (max-width: 1300px) {
    .recsec {
        zoom: 0.6;
        transform: translate(0, -500px);
        transition: 0.5s;
    }
}

@media screen and (max-width: 1250px) {
    .recsec {
        zoom: 0.55;
        transform: translate(0, -550px);
        transition: 0.5s;
    }
}

@media screen and (max-width: 1200px) {
    .recsec {
        zoom: 0.5;
        transform: translate(0, -600px);
        transition: 0.5s;
    }
}