@media screen and (max-width: 1600px) {
    .intro {
        background-color: rgba(0, 0, 0, 0);
        backdrop-filter: blur(0px);
        border-radius: 0px;
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        z-index: 1000;
        transition: 0.5s;
    }
}

@media screen and (max-width: 1440px) {
    .blockers {
        margin-right: 1600px;
        transition: 0.5s;
        z-index: 0;
    }
}

@media screen and (max-width: 1300px) {
    .blockers {
        opacity: 70%;
        transition: 0.5s;
        z-index: 0;
    }
}

@media screen and (max-width: 850px) {
    
    .blockers {
        display:none;
        transition:0.5s;
    }

    .scrollers{
        left:0;
        position:fixed;
        width:1000px;
        height:600px;
        left:50%;
        top:50%;
        transform: translate(-50%,-50%);
    }

    h2{
        width:100%;
        margin-left:0px;
        position:relative;
        padding:0;
        top:30px;
    }

    header{
        z-index:100000000000000000000000000000000000;
    }
    dark-mode-toggle{
        z-index:100000000000000000000000000000000000;
    }
    .intro{
        top:35%;
        width:85%;
    }
    .grid{
        width:100%;
        left:0%;
        position:relative;
        display:block;
        padding-bottom:25%;
        margin-right:0;
        margin-left:0;
        margin-bottom:0px;
    }
    .moreimg{
       display:none;
    }

    .squarecontain{
        width:100%;
        margin-left:0;
        left:0;
        padding:0;
        margin-bottom:150px;
    }
    .Recommended{
        padding-left:0px;
        padding-right:0px;
        right:20px;
    }

    .OneBach{
        font-size:45px;
        top:-115px;
    }

    .TwoBach{
        font-size:45px;
        top:50px;
    }
    .es{
        height:130px;
        width:90%;
        margin-bottom:20px;
        margin-left:5%;
        margin-right:5%;

    }
    .tags{
        top:-100px;
        transition: 0.5s;
    }
    .recname2{
        top:0%;
        position:absolute;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 70%; 
        overflow:hidden;
    }
    .recinfo2{
        top:45%;
        position:absolute;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 70%; 
        overflow:hidden;
    }
    .dwnld2{
        right:20px;
        top:84%;
        position:absolute;
        transition: 0.5s;
    }

    .es:hover{
        box-shadow: 0px 0px 50px 1px white;
    transform: scale(105%) translate(0,0px);
    z-index: 1;
    transition:0.5s;
    }

.es:hover .recimg2{
    transform: scale(130%) rotate(5deg);
    transition:1s;
}

.es:hover .recname2{
    display:none;
}

.es:hover .recinfo2{
    display:none;
}

.es:hover .dwnld2{
    right:20px;
    top:100%;
    position:absolute;
    transition:0.5s;
    transform: rotate(0deg);
}

.es:hover .tags{
    top:25px;
transition: 0.5s;
}

    .es1{
    background-color:rgba(255, 255, 255, 0);
    width:98%;
    position: absolute;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0);
  }

  #multiple{
    display:none;
  }

  .firstone{
    font-size:70px;
  }

  .firstone{
    font-size:70px;
  }

  .startbox{
    top:130%;
  }

  .blogimg{
    width:100%;
  }

  .copyright3{
    display:none;
  }

  .toblog{
    top: 20px;
    right:10px;
    rotate:0deg;
  }
}