.hero{
    width: 30%;
    height: 100%;
    position:absolute;
    overflow: hidden;
    top:0;
    left:0;
    animation-name: hide;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 4s;
    transition-timing-function: ease-in-out;
}

@keyframes hide {
    0%{
        transform: translate(0%, 0%);
    }
    100%{
        transform: translate(-80%, 0%);
    }
    
}

@keyframes hide3 {
    0%{
        opacity:0.5;
    }
    100%{
        opacity:0;
    }
    
}

.cube{
    width:100%;
    height:120%;
    background-color: #051923;
    rotate: 2deg;
    top:-10%;
    left:-5%;
    overflow:hidden;
    position:absolute;
}

    /* Interactive imagescrollers caroussel*/
   
    ::-webkit-scrollbar {
        width: 0px;
      }

    .fadeout{
        width:500px;
        height:100%;
        position:absolute;
        top:bottom;
        top:0;
        left:0;
        z-index:100000000;
        position:fixed;
        rotate: 180deg;
        background: linear-gradient(90deg, rgba(2,0,36,0.052240964745273066) 0%, rgba(5,25,35,1) 100%);
        filter: brightness(100%);
    }
    
    .fadeout2{
        width:500px;
        height:100%;
        position:absolute;
        top:bottom;
        top:0;
        right:0;
        z-index:100000000;
        position:fixed;
        background: linear-gradient(90deg, rgba(2,0,36,0.052240964745273066) 0%, rgba(5,25,35,1) 100%);
        filter: brightness(100%);
    }

   .scrollers{
    width:800px;
    height:600px;
    z-index:1;
    margin-left:20px;
    margin-right:20px;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    position:absolute;
    overflow:hidden;
    opacity:0.5;
    animation-name: hide3;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 4s;
    

   }

   .scroller-one{
    width:100%;
    height:48%;
    top:0;
    left:10px;
    position:absolute;
   }

   .scroller-two{
    width:100%;
    height:48%;
    top:50%;
    position:absolute;
   }

   .ticker1-temp{
    width:50%;
    height:100%;
    top:0;
    position:absolute;
    animation-name:uptemp;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
   }

   .ticker1{
    width:50%;
    height:100%;
    left:100%;
    position:absolute;
    animation-name:up;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    border-radius: 20px;
    opacity: 0;
   }

   .ticker2{
    width:50%;
    height:100%;
    left:100%;
    position:absolute;
    animation-name:up2;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay:20s;
   }

   .ticker3{
    width:50%;
    height:100%;
    top:0;
    position:absolute;
    animation-name:down;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
   }

   .ticker3-temp{
    width:50%;
    height:100%;
    top:0;
    position:absolute;
    animation-name:downtemp;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
   }

   .ticker4{
    width:50%;
    height:100%;
    top:0;
    position:absolute;
    animation-name:down2;
    opacity:0;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay:20s;
   }

   .recom1{
    width:98%;
    top:1%;
    position:absolute;
    height:100%;
    box-sizing: border-box;
    border-radius:20px;
    margin-bottom:15px;
    overflow: hidden;
    box-shadow: inset 0 0 30px rgb(255, 255, 255);
    transition:1s;
   }

   .recom1:nth-child(1){
    width:98%;
    height:100%;
    left:100%;
    position:absolute;
    box-sizing: border-box;
    border-radius:20px;
    margin-bottom:15px;
    overflow: hidden;
    box-shadow: inset 0 0 30px rgb(255, 255, 255);
    transition:1s;
   }

   .recom1:before {
    content: " ";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border: 5px solid white;
    border-radius:18px;
    z-index:100000;
  }

   .nameinfo{
    height:100%;
    width:100%;
    position: absolute;
   }

   #headname{
    font-family:gintobold;
    color:white;
    position: absolute;
    left:30px;
    top:-155px;
    font-size:40px;
   }

   #headinfo{
    position: absolute;
    left:30px;
    top:-100px;
    font-size:25px;
    width:85%;
    font-family: ginto;
    color:white;
    overflow:hidden;
    height:50px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width:80%; /* some width */
   }

   .headimg{
    object-fit: cover;
    filter: blur(5px) brightness(80%);
   transform:scale(130%);
   height:100%;
   width:100%;
   z-index:0;
   }

   dark-mode-toggle.sticky{
    display:block;
    z-index:10000000000000000000000000000000;
   }

   c{
    display:none;
    transition:0.5s;
   }

   c.sticky{
        z-index:10000000000000000000000000000000;
        position:absolute;
        display:block;
        bottom:0;
        right:0;
        transition:0.5s;
        animation
   }

.startbox{
    border-radius:8px;
    width:94%;
    position: absolute;
    top:155%;
    transition:0.5s;
   }

 .startbox:hover{
    transform: scale(101%);
    transition: 0.5s;
   }

.srch{
    width:100%;
    display: flex;
}

   .toblog{
    rotate:90deg;
    color:white;
    font-family:ginto;
    font-size:20px;
    position:absolute;
    top:50%;
    transform: translate(0,-50%);
    right:0;
    position:fixed;
    text-decoration-color: #15a142;
    z-index:10000;
    transition:0.5s;
   }

   .toblog:hover{
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-decoration-color: #15a142;
    text-underline-offset: 5px;
    transition:0.5s;
   }

   .verno{
    font-family:ginto;
    font-size:15px;
    position:absolute;
    top:-35px;
    right:-35px;
    background-color: #12121277;
    backdrop-filter: blur(8px);
    padding:8px;
    border-radius:18px;

   }

   .gradient-text {
    background-color: #CA4246;
    background: linear-gradient(90deg, rgba(42,233,16,1) 0%, rgba(29,169,253,1) 50%, rgba(255,255,255,1) 100%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
      animation: gradient 5s linear infinite;
   }

      @keyframes gradient {
        0% {
          filter: hue-rotate(0deg);
        }

        100%{
            filter: hue-rotate(360deg);
        }
      }

.branding{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:black;
    z-index:100000000000000;
    animation: fade;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes fade{
    0%{
        opacity:1;
    }
    100%{
        opacity:0;
        z-index:0;
    }
}

@keyframes uptemp{
    0% {
        left:0%;
    }

    100%{
        left:-100%;
    }
   }
   
   @keyframes up{
    0% {
        left:100%;
        opacity: 1;
    }

    100%{
        left:-100%;
        opacity: 1;
    }
   }

   @keyframes up2{
    0% {
        left:100%;
    }

    100%{
        left:-100%;
    }
   }


   @keyframes down{
    0% {
        left:-100%;
    }

    100%{
        left:100%;
    }
   }


   @keyframes downtemp{
    0% {
        left:0%;
    }

    100%{
        left:100%;
    }
   }

   @keyframes down2{
    0% {
        opacity:1;
        left:-100%;
    }

    100%{
        opacity:1;
        left:100%;
    }
   }

   #particles-js{
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

   .particles{
   position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
   }