body{
    background-color: #ffffff;
}

.intro2{
    color:#000000;
}

.firstone{
    color:#ffffff;
}

.firstone2{
    color:#000000;
}

h1{
    color:#000000;
}

.resname{
    color:#000000;
}

.resinfo{
    color:#000000;
}

.res:before{
    border: 4px solid #000000;
}

.welcomeimg{
    filter: invert(1);
}

.res:hover{
 box-shadow: 0px 0px 10px #e0e0e0;
}

.tronca{
    background-color: #eeeeee;
    color:#000000;
}

.fade{
    background: linear-gradient(180deg, rgba(255,216,144,0) 0%, rgb(255, 255, 255) 100%);
}

.tronca:before{
    position:absolute;
    content:'';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left:0px;
    right: 0px;
    border:0px solid #000000;
    border-radius: 18px;
    z-index: 1;
    transition: 0.5s;
  }

  .tronca:hover:before{
    position:absolute;
    content:'';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left:0px;
    right: 0px;
    border:4px solid #000000;
    border-radius: 18px;
    z-index: 1;
    transition: 0.5s;
  }

  @media (max-width: 800px) {
    .intro2{
        background-color: #f8f1f191;
    }
  }