
@media (max-width: 800px) {
    h1{
        text-align: center;
    }
    .hero{
        width:100%;
        height:100%;
        animation-name:none;
    }    
    .cube{
        width:110%;
        rotate:-2deg;
        animation-name:none;
        animation-duration: 0.5s;
        animation-delay: 4s;
        animation-fill-mode: forwards;
    }   
    .main{
        top:20px;
        width:100%;
        left:0;
        height:89%;
        border-radius: 8px;
        transform:translate(0%,10%);
        animation-name:none;
        }

    .itinerary{
        position: relative;
        top:-30px;
        display:block;
        width:100%;
    }
    .itn{
        height:200px;
        width:100%;
        gap:5px;
    }
    .itnimg{
        width:200px;
    }
    .itn:hover .itnname{
       bottom:100%;
       transition: 0.5s;
    }
    .itnname{
        font-size:205%;
    }
    .itninfo{
        display:none;
    }
    .resources{
        margin-top:50px;
    }
    .resholder{
        width:100%;
    }
    .res{
        width:100%;
    }
    .intro2{
        left:50%;
        transform: translate(-50%,0);
        height:80px;
        width:100%;
        top:-10px;
        background-color: #12121291;
        backdrop-filter: blur(8px);
    }
    .firstone2{
        font-size: 40px;
        transform:translate(0,0);
        left:15px;
        top:0;
        text-align:left;
        position: absolute;
        animation-name:none;
        animation-duration: 0.5s;
        animation-delay: 4s;
        animation-fill-mode: forwards;
    }

    .firstone3{
        font-size: 40px;
        transform:translate(0,0);
        left:15px;
        top:0;
        text-align:left;
        position: absolute;
        animation-name:none;
        animation-duration: 0.5s;
        animation-delay: 4s;
        animation-fill-mode: forwards;
    }

    .copyright{
        animation-name: none;
        position:absolute;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        animation-delay: 4s
    }

    @keyframes disappear {
        0%{
            transform: translate(0%, 0%);
            opacity:1;
        }
        100%{
            transform: translate(-180%, 0%);
            opacity:0;
        }
    }

    @keyframes goup {
        0%{
            transform: translate(0%, 0%);
        }
        100%{
            transform: translate(0%, 0%);
        }
    }

    @keyframes goup2 {
        0%{
            transform: translate(0%, 20%);
        }
        100%{
            transform: translate(0%, -80%);
        }
    }

    @keyframes godown {
        0%{
            transform: translate(0%, -50%);
        }
        100%{
            transform: translate(0%, 0%);
        }
    }

    .namehold{
        top:0;
        height:100%;
        width:100%;
    }

    .es:hover .namehold{
        animation:none;
        top:0;
        width:100%;
        height:100%;
    }

    .grid{
        width:100%;
        left:0;
        position:relative;
        display:block;
        padding-bottom:25%;
        margin-right:0;
        margin-left:0;
        margin-bottom:0px;
        padding:0px;
        padding-top:20px;
    }

    .es{
        height:130px;
        width:94%;
        margin-bottom:20px;
        margin-left:3%;
        margin-right:3%;
        z-index: 100000;
        position: relative;
    }
    .tags{
        top:-100px;
        transition: 0.5s;
    }
    .recname2{
        top:0%;
        position:absolute;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 70%; 
        overflow:hidden;
    }
    .recinfo2{
        top:45%;
        position:absolute;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 70%; 
        overflow:hidden;
    }
    .dwnld2{
        right:20px;
        top:84%;
        position:absolute;
        transition: 0.5s;
    }

    .es:hover{
        box-shadow: 0px 0px 50px 1px white;
    transform: scale(105%) translate(0,0px);
    z-index: 1;
    transition:0.5s;
    }

.es:hover .recimg2{
    transform: scale(130%) rotate(5deg);
    transition:1s;
}

.es:hover .recname2{
    display:none;
}

.es:hover .recinfo2{
    display:none;
}

.es:hover .dwnld2{
    right:20px;
    top:100%;
    position:absolute;
    transition:0.5s;
    transform: rotate(0deg);
}

.es:hover .tags{
    top:25px;
transition: 0.5s;
}

    .es1{
    background-color:rgba(255, 255, 255, 0);
    width:98%;
    position: absolute;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0);
  }

  #multiple{
    display:none;
  }

  .intro3{
    left:50%;
    transform: translate(-50%,0);
    height:80px;
    width:100%;
    top:-10px;
    background-color: #12121291;
    backdrop-filter: blur(8px);
    z-index:1000000;
  }

  .firstone3{
    font-size: 40px;
    transform:translate(0,0);
    left:15px;
    top:0;
    position: absolute;
    animation-name:none;
    animation-duration: 0.5s;
    animation-delay: 4s;
    animation-fill-mode: forwards
  }

  .Esquemasholder{
    top:70px;
    position: absolute;
  }

  .itineraries{
    gap:10px;
  }

  .itn:nth-child(1):hover .itnname{
    bottom:15%;
    transition:0.5s;
}

.itn:nth-child(2):hover .itnname{
    bottom:15%;
    transition:0.5s;
}

.itn:nth-child(3):hover .itnname{
    bottom:15%;
    transition:0.5s;
}

.itn:nth-child(4):hover .itnname{
    bottom:15%;
    transition:0.5s;
}

.donate{
    font-size: 10px;
    top:5px;
    position:absolute;
    margin:0;
}

.hero{
    display:none;
}

.navbar{
    top:27px;
    left:218px;
    width:50%;
    overflow: scroll;
    position:fixed;
    z-index: 10000000000000000000000000000;
}

.element{
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}

.backhome{
    top:70px;
    left:0;
    width:100%;
    position: fixed;
    text-align: center;

    color:white;
    font-family: gintobold;
    animation-name: slideup;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    display:none;
    padding:10px;
    padding-left:20px;
    padding-right:20px;
    background-color: #12121297;
    backdrop-filter: blur(8px);
    border-radius: 0px;
    z-index: 1000000;
}

}

@supports ( (-webkit-hyphens:none)) {
    .ticker1-temp{
        animation-name: none;
    }
    .ticker3-temp{
        animation-name: none;
    }
} 
